# Ignorar o diretório do ambiente virtual
.venv/
venv/
env/

# Ignorar ficheiros de cache e bytecode do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ficheiros de configuração específicos do IDE e do sistema
.vscode/
.idea/
*.code-workspace
.DS_Store

# Ignorar ficheiros de log e bases de dados locais
*.log
*.db
local_test.db

# Ignorar o diretório de uploads, pois deve ser um volume montado
uploads/

# Ignorar ficheiros de configuração de ambiente
.env
.flaskenv